<ion-view title="Home">

  <ion-nav-buttons side="left">
    <button class="button button-icon butter-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="91 Octane" icon="ion-home" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>

    </ion-tab>

    <ion-tab title="89 Octane" icon="ion-home" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>

    </ion-tab>

    <ion-tab title="87 Octane" icon="ion-log-out">
    </ion-tab>

  </ion-tabs>

</ion-view>
