<ion-view title="Home">

  <ion-nav-buttons side="left">
    <button class="button button-icon butter-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-positive">

    <!-- 91 Octane Tab -->
    <ion-tab title="91 Octane" icon="ion-home" href="#/tab/91">
      <ion-nav-view name="tab-91"></ion-nav-view>
    </ion-tab>

    <!-- 89 Octane Tab  -->
    <ion-tab title="89 Octane" icon="ion-home" href="#/tab/89">
      <ion-nav-view name="tab-89"></ion-nav-view>
    </ion-tab>

    <!-- 87 Octane Tab -->
    <ion-tab title="87 Octane" icon="ion-log-out" href="#/tab/87">
      <ion-nav-view name="tab-87"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
